.headerContainer {
   /* border-bottom: 1px solid #444;*/
}

.headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    max-width: calc(2 * var(--width-content));
    margin: 0 auto;
}

.headerTexts {
    margin-left: 1rem;
}

h1 {
    margin-top: 0;
}

.subtitle {
    font-size: 0.8em;
    margin: 1em 0;
    opacity: 0.7;
}

.subtitle a {
    color: #FFF;
    text-decoration: none;
}

.headerBar .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.headerBar .links a {
    text-decoration: none;
    opacity: 0.7;
    color: inherit;
    margin: 0 0.5rem 0.5rem 0;
    text-transform: capitalize;
    font-size: 0.7em;
}

.headerBar .links a:hover {
    opacity: 1;
}

.logo {
    height: 5rem;
    border-radius: 0.5rem;
    display: block;
    filter: grayscale(1);
    transition: filter 0.1s ease-in-out;
}

.logo:hover {
    filter: grayscale(0);
}

.aboutLine {
    margin: 1rem 0;
    opacity: 0.7;
}
