
.whatIDo {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    padding: 6rem 1rem;
    margin: 0 1rem;
    line-height: 1.35;
    font-weight: 300;
    border-left: var(--timeline-line-width) solid;
    border-image: 
    linear-gradient(
      to top, 
      var(--timeline-line-color) 0%, 
      #000 10%
    ) 1 100%;
}

@media (max-width: 1024px) {
    .whatIDo {
        padding: 4rem 1rem;
    }
}

@media (max-width: 576px) {
    .whatIDo {
        padding: 3rem 1rem;
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: 300;
    }
}

.whatIDo span {
    color: rgba(255, 255, 255, 1);
    
    font-weight: 900;
    padding: 0;
}

